@model Sharpify.Models.Blog

@{
    ViewBag.Title = "Edit";
    var title = Model.Title;
}

<h2>Edit Blog</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        @Html.EditorFor(x => x.Title)
	</fieldset>
    
	<fieldset class="form-actions">
		<input type="submit" value="Submit" />
	</fieldset>
}


<p>@Html.ActionLink("Back to List", "Index")</p>