<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Shop that the test suite will attempt to add itself to and manipulate.  Make a store via the Partner UI. -->
		<add key="Shopify.TestStoreName" value="INSERT TEST STORE NAME" />
		
		<!-- App API key.  You'll have to create an app in the Partner UI for your local test suite use. -->
		<add key="Shopify.TestAppKey" value="INSERT TEST APP API KEY HERE" />
		
		<!-- App shared secret.  You'll have to click a little unhide hyperlink in the Partner UI to see it. -->
		<add key="Shopify.TestAppSecret" value="INSERT TEST APP SECRET HERE" />
		
		<!-- Globally-addressable URI of the local test HTTP server popped up by the test suite.
		     It needs to be set as the "Application URL" in the Partners UI, so "localhost" isn't good enough.
		     Note the hardcoded port number.
		     I haven't tested what you can get away with. -->
		<add key="Shopify.TestHttpServerUri" value="http://ip-address-of-my-development-box:5409" />
	</appSettings>
</configuration>
