@model Sharpify.Models.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Product</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<p>Are you sure you want to delete this product? <input type="submit" value="Delete" /></p>
<p>Title: @Model.Title</p>

<p>@Html.ActionLink("Back to List", "Index")</p>

    
}